# visual studio specific
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# nuget packages
*.nupkg
packages/

# rider specific
.idea/
*.sln.iml

# local environment variables
.env